.input {
  display: block;
  border: none;
  padding: 1rem;
  width: 100%;
  font-family: $font-primary;
  font-size: 2rem;
  margin-bottom: 2rem;
  background-color: $color-primary-light;

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: $color-grey-dark-3;
  }
}