// COLORS
$color-primary: #742337;
$color-primary-light: #912C45;
$color-primary-dark: #501826;

$color-secondary: #A89B8C;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #ddd;
$color-grey-light-3: #bbb;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #555;
$color-white: #fff;
$color-black: #000;

$color-error: red;
$color-success: #55c57a;

// FONTS
$font-primary: 'VT323';
$font-secondary: 'Press Start 2P';

$default-font-size: 1.8rem;