.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  &__primary {
    padding: 2rem 5rem;
    letter-spacing: .3rem;
    background-color: $color-primary-dark;
    font-family: $font-secondary;
    position: relative;
    color: $color-primary-dark;
    overflow: hidden;

    &--text {
      color: $color-black;
      position: absolute;
      transition: .2s;
    }

    &--icon {
      position: absolute;
      width: 2rem;
      top: 50%;
      left: 2rem;
      transform: translate(-2rem, -50%);
      opacity: 0;
      transition: .2s;
    }

    &:hover &--icon {
      opacity: 1;
      transform: translate(0, -50%);
    }

    &:hover &--text {
      transform: translateX(1rem);
    }
  }

  &__secondary {
    display: block;
    width: 100%;
    padding: 1.3rem 0;
    font-family: inherit;
    font-size: 2rem;
    position: relative;
    overflow: hidden;
    background-color: $color-primary;
    transition: .3s;
    border-radius: 3px;

    &:hover {
      color: $color-grey-light-2;
      transform: translateX(1.5rem);
    }
  }

  &__tertiary {
    display: inline-block;
    width: 55%;
    border: 3px solid $color-grey-light-3;
    padding: 1rem 3rem;
    color: $color-grey-light-3;
    margin-bottom: 1.3rem;
    position: relative;
    overflow: hidden;
    transition: .3s;
    font-family: inherit;
    font-size: $default-font-size;

    &:hover {
      font-weight: bold;
      color: $color-grey-light-2;
    }

    &:active {
      transform: scale(1.07);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-black;
      z-index: -1;
      transform: translateX(-100%);
      transition: .3s;
    }

    &:hover::after {
      transform: translateX(0);
    }
  }



  &__confirm {
    padding: 1rem 3.5rem 1rem 4rem;
    background-color: $color-primary-dark;
    color: $color-grey-dark-1;
    border: 3px solid black;

    &__item {

      @include respond(phone) {
        opacity: 0;
      }
    }

    &:hover {
      color: white;
    }

    &:hover &__item {
      opacity: 1;
    }
  }

  &--link {
    padding: 1rem 2.5rem;
    background-color: $color-primary;
    font-family: $font-primary;
  }



  &__exit {
    position: fixed;
    top: .5rem;
    left: .5rem;
    display: inline-block;
    text-decoration: none;
    padding: 2.2rem;
    border-radius: 3px;
    background-color: $color-primary-dark;
    font-size: 1.8rem;
    color: $color-grey-light-2;
    z-index: 1;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transition: .3s;

    @include respond(phone) {
      top: 2rem;
      left: 2rem;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1.5rem 3rem rgba($color-black, .3);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-primary-dark;
      border-radius: 3px;
      z-index: -1;
      transition: .4s;
    }

    &:hover::after {
      transform: scale(1.4);
      opacity: 0;
    }
  }
}