.auth {
  width: 100%;
  min-height: 100vh;
  background-image: url(../../../assets/imgs/bg-auth-1.jpg);
  background-position: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  font-size: $default-font-size;

  @include respond(tab-land) {
    min-height: 80vh;
  }

  &__form-container {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @include respond (phone) {
      width: 65%;
    }

    @include respond (tab-port) {
      width: 50%;
    }

    @include respond (tab-land) {
      width: 40%;
    }
  }

  &__ask-paragraph {
    margin-top: 2.5rem;
  }
}