@keyframes moveInDown {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes menuOpenWidthAnimation {
  0% {}

  100% {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}